# Disable access to all file types except the following
Order deny,allow
Deny from all
<Files ~ ".(xml|css|js|jpe?g|png|gif|pdf|docx|rtf|odf|zip|rar|svg|eot|ttf|woff|woff2|json|mp4|html|xls|xlsx|map|xsl)$">
Allow from all
</Files>
